<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Stock View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">
  <div class="container fluid">
    <div class="row">
      <div class="col-lg-4 mt-5 mb-5">
        <form th:action="@{/stock/addstock}" th:object="${stockDTO}" th:method="post">
        <table class="table table-bordered" style="width: 80%">
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-product_code" th:text="#{product_code}">Product Code</span>
            <input type="text" class="form-control" th:field="*{productCode}"/>
          </div></tr>
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-product_name" th:text="#{product_name}">Product Name</span>
            <input type="text" class="form-control" th:field="*{productName}">
          </div></tr>
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-quantity" th:text="#{quantity}">Quantity</span>
            <input type="number" class="form-control" th:field="*{quantity}">
          </div></tr>
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-price" th:text="#{price}">Price</span>
            <input type="number" class="form-control" th:field="*{price}">
          </div></tr>
          <tr><button type="submit" class="btn btn-dark" th:text="#{add}">Add</button></tr>
        </table>
        </form>
      </div>
    </div>
  </div>

</div>
</body>
</html>