<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search By Code View</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">
    <div class="container fluid mt-5 text-center">
        <thead>
        <tr>
            <th>Stock Id</th>
            <th>Ordered</th>
        </tr>
        </thead>
        <tbody>
        <form th:object="${orderItemDTO}" th:action="@{/order/{id}/openorder/additem(id=${openedOrder.id})}" th:method="post">
            <td>
                <input type="number" th:field="*{stockId}"/>
            </td>
            <td>
                <input type="number" th:field="*{quantityOrdered}"/>
            </td>
            <td>
            <button type="submit" class="btn btn-dark">Add</button>
            </td>
        </form>
        </tbody>
    </div>

    <div class="container fluid">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">
                <table id="stock" class="table table-bordered" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Ordered</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="stock : ${stockList}">
                        <td th:text="${stock.id}">Id</td>
                        <td th:text="${stock.productCode}">Product Code</td>
                        <td th:text="${stock.productName}">Product Name</td>
                        <td th:text="${stock.quantity}">Quantity</td>
                        <td th:text="${stock.price}">Price</td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:if="${currentPage > 1}">
                            <a class="page-link" th:href="@{'/order/' + ${openedOrder.id} + '/openorder/searchcode?page=' + ${previousPage}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${currentPage} < ${numberOfPages}">
                            <a class="page-link" th:href="@{'/order/' + ${openedOrder.id} + '/openorder/searchcode?page=' + ${nextPage}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
</body>
</html>