<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Stock View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/index}">Cash Register</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="@{/stock}">Stock
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/order}">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/report}">Reports
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" >

              <form th:action="@{/logout}" method="post">
                <input class="nav-link btn btn-outline-primary" type="submit" th:value="Logout"/>
              </form>

          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="d flex">
  <div class="container fluid">
    <div class="row">
      <div class="col-lg-4 mt-5 mb-5">
        <form th:action="@{/stock/{id}/update(id=${stockToUpdate.id})}" th:object="${stockDTO}" th:method="post">
        <table class="table table-bordered" style="width: 80%">
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-product_code">Product Code</span>
            <input type="text" class="form-control" th:field="*{productCode}"th:placeholder="${stockToUpdate.productCode}" th:value="${stockToUpdate.productCode}"/>
          </div></tr>
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-product_name">Product Name</span>
            <input type="text" class="form-control" th:field="*{productName}" th:placeholder="${stockToUpdate.productName}" th:value="${stockToUpdate.productName}"/>
          </div></tr>
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-quantity">Quantity</span>
            <input type="number" class="form-control" th:field="*{quantity}" th:placeholder="${stockToUpdate.quantity}" th:value="${stockToUpdate.quantity}"/>
          </div></tr>
          <tr><div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-price">Price</span>
            <input type="number" class="form-control" th:field="*{price}" th:placeholder="${stockToUpdate.price}" th:value="${stockToUpdate.price}"/>
          </div></tr>
          <tr><button type="submit" class="btn btn-dark">Update</button></tr>
        </table>
        </form>
      </div>
    </div>
  </div>

</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>