<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Item View View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">
  <div class="container fluid">
    <div class="row">
      <div class="col-lg-4 mt-5 mb-5">
        <form th:object="${orderItemDTOToUpdate}" th:action="@{/order/{id}/openorder/{itemId}/updateitem(id=${orderId},itemId=${itemId})}" th:method="post">
          <table id="stock" class="table table-bordered" style="width: 100%">
            <thead>
            <tr>
              <th>Id</th>
              <th>Product Code</th>
              <th>Product Name</th>
              <th>Quantity left</th>
              <th>Price</th>
              <th>Quantity ordered</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${orderItemStock.id}">Id</td>
              <td th:text="${orderItemStock.productCode}">Product Code</td>
              <td th:text="${orderItemStock.productCode}">Product Name</a></td>
              <td th:text="${orderItemStock.quantity}">Quantity left</td>
              <td th:text="${orderItemStock.price}">Price</td>

              <td><div class="input-group mb-3">
                <input type="number" class="form-control"  th:field="*{quantityOrdered}" th:placeholder="${orderItemDTOToUpdate.quantityOrdered}" th:value="${orderItemDTOToUpdate.quantityOrdered}"/>
              </div>
              </td>
              <td><button type="submit" class="btn btn-dark">Update</button></td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>

</div>
</body>
</html>