<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Error View</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/index}">Cash Register</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<div class="container fluid">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">

            <table class="table table-bordered" style="width: 100%">
                <tbody>
                <tr>
                    <td th:text="${message}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
         <p><a th:href="@{/}">Go to Main Page</a></p>
    </div>

</div>
</body>
</html>