<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Stock View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">
  <div class="container fluid mt-5 text-center">
    <p><h1><span th:text="#{welcome}">    Welcome to Cash Register Application.  </span></h1>
    <h4>johsmi1 role Cashier</h4>
    <h4>markay2 role Senior Cashier</h4>
    <h4>tomsmi4 role Commodity Expert</h4>
    <h4>password for all users is test</h4>
    </p>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();

            window.location.replace('?lang=' + selectedOption);

    });
});
</script>
</body>
</html>