<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/index}" th:text="#{cash_register}">Cash Register</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="?lang=en">EN</a></li>
          <li class="nav-item"><a class="nav-link" href="?lang=pl">PL</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container fluid">
<div class="row mt-6">
  <h1><span th:text="#{please_log_in}">Please log in</span></h1>
</div>
    <div class="row">
      <div class="col-6" th:if="${param.error}">
        <span th:text="#{invalid_user}">Invalid username and password</span>
      </div>
    </div>
    <form th:action="@{/login}" method="post">
      <div class="row mt-3">
        <label class="col-6">
          <span th:text="#{user_name}"> User Name: </span>
        </label>
        <div class="col-7">
          <input type="text" name="username"/>
        </div>
      </div>
      <div class="row mt-3">
        <label class="col-6">
          <span th:text="#{password}"> Password: </span>
        </label>
        <div class="col-7">
          <input type="password" name="password"/>
        </div>
      </div>
      <div class="row">
        <input class="m-3" type="submit" th:value="#{login}"/>
      </div>
      <div class="row">
        <span class="ml-2" th:text="#{not_registered}">Not registered? </span><a th:href="@{/register}"><span  class="ml-1"th:text="#{register_here}">Register here</span></a></span>
      </div>
    </form>
</div>
</body>
</html>