<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Order View</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">
    <div class="container fluid mt-5 text-center" sec:authorize="hasAnyRole('ROLE_SENIOR_CASHIER','ROLE_CASHIER')">
        <form  th:object="${orderDTO}" th:action="@{/order/openorder}" th:method="post">
            <button type="submit" class="btn btn-dark" th:text="#{open_new_order}">Open New Order</button>
        </form>
    </div>

    <div class="container fluid">
        <div class="row">
            <div class="col-lg-10 mt-5 mb-5">
                <table id="stock" class="table table-bordered" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th th:text="#{opened}">Opened</th>
                        <th th:text="#{closed}">Closed</th>
                        <th th:text="#{employee}">Employee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${allOrders}">
                        <td><a th:href="@{/order/{id}/details(id=${order.id})}" th:text="${order.id}">Id</a></td>
                        <td th:text="${order.openDate}">Opened</td>
                        <td th:text="${order.closeDate}">Closed</td>
                        <td th:text="${order.user.lastName}">Employee</td>

                        <td sec:authorize="hasRole('ROLE_SENIOR_CASHIER')"><form th:object="${order}" th:action="@{/order/{id}/delete(id=${order.id})}" th:method="post"><button type="submit" class="btn-sm btn-danger" th:text="#{delete}">Delete</button></form></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:if="${currentPage > 1}">
                            <a class="page-link" th:href="@{'/order?page=' + ${previousPage}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${currentPage} < ${numberOfPages}">
                            <a class="page-link" th:href="@{'/order?page=' + ${nextPage}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
</body>
</html>