<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Report View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">

  <div class="container fluid mt-5 mr-6 text-center" sec:authorize="hasRole('ROLE_SENIOR_CASHIER')">
    <form th:object="${reportDTO}" th:action="@{/report/generatereport}" th:method="post">
      <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{reportType}" th:value="x" name="reportType" id="reportType1" th:checked="true">
        <label class="form-check-label" for="reportType1">
          X
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{reportType}" th:value="z" name="reportType" id="reportType2">
        <label class="form-check-label" for="reportType2">
          Z
        </label>
      </div>
        <button type="submit" class="btn btn-dark mt-1" th:text="#{generate_report}">Generate Report</button>
    </form>
  </div>

  <div class="container fluid">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-2">
        <table class="table" style="width: 100%">
          <thead class="table-secondary">
          <tr>
            <th>Id</th>
            <th th:text="#{from}">From</th>
            <th th:text="#{to}">To</th>
            <th th:text="#{report_type}">Report Type</th>
            <th th:text="#{employee}">Employee</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="report : ${allReports}">
            <td><a th:href="@{/report/{id}/details(id=${report.id})}" th:text="${report.id}">Id</a></td>
            <td th:text="${#temporals.format(report.fromDate, 'dd-MM-yyyy HH:mm:ss')}">From</td>
            <td th:text="${#temporals.format(report.toDate, 'dd-MM-yyyy HH:mm:ss')}">To</td>
            <td th:text="${report.reportType}">Report Type</td>
            <td th:text="${report.user.lastName}">Employee</td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 1}">
              <a class="page-link" th:href="@{'/report?page=' + ${previousPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" th:if="${currentPage} < ${numberOfPages}">
              <a class="page-link" th:href="@{'/report?page=' + ${nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
</body>
</html>