<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Report View</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/index}">Cash Register</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/stock}">Stock
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/order}">Orders</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/report}">Reports
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" >

            <form th:action="@{/logout}" method="post">
              <input class="nav-link btn btn-outline-primary" type="submit" th:value="Logout"/>
            </form>

          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="d flex">

  <div class="container fluid mt-5 mr-6 text-center">
    <form th:object="${reportDTO}" th:action="@{/report/generatereport}" th:method="post">
      <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{reportType}" th:value="x" name="reportType" id="reportType1" checked>
        <label class="form-check-label" for="reportType1">
          X
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" th:field="*{reportType}" th:value="z" name="reportType" id="reportType2">
        <label class="form-check-label" for="reportType2">
          Z
        </label>
      </div>
        <button type="submit" class="btn btn-dark mt-5">Generate Report</button>
    </form>
  </div>

  <div class="container fluid">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <table class="table table-bordered" style="width: 100%">
          <thead>
          <tr>
            <th>Id</th>
            <th>From</th>
            <th>To</th>
            <th>Report Type</th>
            <th>Employee</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="report : ${allReports}">
            <td><a th:href="@{/report/{id}/details(id=${report.id})}" th:text="${report.id}">Id</a></td>
            <td th:text="${report.fromDate}">From</td>
            <td th:text="${report.toDate}">To</td>
            <td th:text="${report.reportType}">Report Type</td>
            <td th:text="${report.user.lastName}">Employee</td>

          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 1}">
              <a class="page-link" th:href="@{'/report?page=' + ${previousPage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" th:if="${currentPage} < ${numberOfPages}">
              <a class="page-link" th:href="@{'/report?page=' + ${nextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
</body>
</html>