<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock View</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/index}">Cash Register</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/stock}">Stock
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">Reports
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" >

                        <form th:action="@{/logout}" method="post">
                          <input class="nav-link btn btn-outline-primary" type="submit" th:value="Logout"/>
                        </form>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="d flex">
<div class="container fluid mt-5 text-center">
    <button type="button" class="btn btn-dark"><a th:href="@{/stock/addstock}">Add stock</a></button>
</div>

<div class="container fluid">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="stock" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stock : ${allStock}">
                    <td th:text="${stock.id}">Id</td>
                    <td th:text="${stock.productCode}">Product Code</td>
                    <td><a th:href="@{/stock/{id}/details(id=${stock.id})}" th:text="${stock.productName}">Product Name</a></td>
                    <td th:text="${stock.quantity}">Quantity</td>
                    <td th:text="${stock.price}">Price</td>
                    <td><form th:object="${stock}" th:action="@{/stock/{id}/update(id=${stock.id})}" th:method="get"><button type="submit" class="btn btn-dark">Update</button></form></td>
                    <td><form th:object="${stock}" th:action="@{/stock/{id}/delete(id=${stock.id})}" th:method="post"><button type="submit" class="btn btn-dark">Delete</button></form></td>
                </tr>
                </tbody>
            </table>

            <!--            <nav aria-label="Page navigation" class="paging">-->
            <!--                <ul class="pagination" th:if="${employees.page.totalPages > 1}">-->
            <!--                    <li class="page-item" th:classappend="${!employees.paging.isPrevEnabled()? 'disabled' : ''}">-->
            <!--                        <a class="page-link" th:href="@{'/?pageNumber=' + ${employees.paging.pageNumber - 1}}"-->
            <!--                           tabindex="-1">Previous</a>-->
            <!--                    </li>-->
            <!--                    <th:block th:each="item : ${employees.paging.getItems()}">-->
            <!--                        <li class="page-item" th:classappend="${item.index == employees.paging.pageNumber? 'active' : ''}"-->
            <!--                            th:if="${item.pageItemType.name() == 'PAGE'}">-->
            <!--                            <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"-->
            <!--                               th:text="${item.index}"></a>-->
            <!--                        </li>-->
            <!--                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">-->
            <!--                            <a class="page-link" href="#">...</a>-->
            <!--                        </li>-->
            <!--                    </th:block>-->
            <!--                    <li class="page-item" th:classappend="${!employees.paging.isNextEnabled()? 'disabled' : ''}">-->
            <!--                        <a class="page-link" th:href="@{'/?pageNumber=' + ${employees.paging.pageNumber + 1}}">Next</a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </nav>-->
        </div>
    </div>
</div>

</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>