<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Stock View</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>

<div class="d flex">
<div class="container fluid mt-5 text-center" sec:authorize="hasRole('ROLE_COMMODITY_EXPERT')">
    <button type="button" class="btn btn-dark"><a th:href="@{/stock/addstock}" th:text="#{add_stock}">Add stock</a></button>
</div>

<div class="container fluid">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-2">
            <table class="table" style="width: 100%">
                <thead class="table-secondary">
                <tr>
                    <th>Id</th>
                    <th th:text="#{product_code}">Product Code</th>
                    <th th:text="#{product_name}">Product Name</th>
                    <th th:text="#{quantity}">Quantity</th>
                    <th th:text="#{price}">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="stock : ${allStock}">
                    <td th:text="${stock.id}">Id</td>
                    <td th:text="${stock.productCode}">Product Code</td>
                    <td><a th:href="@{/stock/{id}/details(id=${stock.id})}" th:text="${stock.productName}">Product Name</a></td>
                    <td th:text="${stock.quantity}">Quantity</td>
                    <td th:text="${stock.price}">Price</td>
                    <td class="border-top btn-group" role="group" sec:authorize="hasRole('ROLE_COMMODITY_EXPERT')">
                        <form th:object="${stock}" th:action="@{/stock/{id}/update(id=${stock.id})}" th:method="get"><button type="submit" class="btn-sm btn-dark"><span th:text="#{update}">Update</span></button></form>
                        <form th:object="${stock}" th:action="@{/stock/{id}/delete(id=${stock.id})}" th:method="post"><button type="submit" class="btn-sm btn-danger ml-1"><span th:text="#{delete}">Delete</span></button></form>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link" th:href="@{'/stock?page=' + ${previousPage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${currentPage} < ${numberOfPages}">
                        <a class="page-link" th:href="@{'/stock?page=' + ${nextPage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</body>
</html>